<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Mobile.Client" version="3.1.0" targetFramework="monoandroid70" />
  <package id="Microsoft.Azure.Mobile.Client.SQLiteStore" version="3.1.0" targetFramework="monoandroid70" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="monoandroid70" />
  <package id="SQLitePCL" version="3.8.7.2" targetFramework="monoandroid70" />
  <package id="Xam.Plugin.Connectivity" version="2.3.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Forms" version="2.3.3.193" targetFramework="monoandroid70" />
</packages>